<!DOCTYPE html>
<html>
	<head>
		<title>wow its nothing</title>
		<link rel="stylesheet" type="text/css" href="styles.css"/>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>CzarNet</h1>
			</div>
			<div id="content">
				<div id="nav">
					<h3>Navigation</h3>
					<ul>
						<li><a class="selected" href="">Home</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/upload">Upload</a></li>
					</ul>
				</div>

				<div id="main">
					<h2>Home Page</h2>
					<p>Welcome to the main page of whatever it is I'm trying to do with machine learning.</p>
					<p>This also serves as a semi-portfolio of work</p>
					<p>per aspera ad astra</p>
				</div>
			</div>
			<div id="footer">
				Copyright &copy; 2019 Steven Czarnecki
			</div>
	</body>
</html>